* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins';
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1500;
}
#menu-icon {
  display: none;
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}
span {
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg, #df8908 10%, #ff1d15 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  white-space: nowrap;
}

.gradient-btn:hover {
  transform: scale(1.05);
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  gap: 12rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin-left: auto;
  text-align: right;
  align-items: flex-end;
}
.home-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
}
.home-content h2 {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.home-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  margin: 2rem 0;
}
.home-img {
  flex-shrink: 0;
}
.home-img img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 0 60px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}
.typing-container {
  font-size: 3rem;
  color: white;
}

.hero-text h2 {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.typing {
  font-size: 32px; /* sesuaikan biar besar seperti awal */
  font-weight: 600;
  color: #e95d00; /* kalau kamu pakai warna orange */
  border-right: 3px solid #fff;
  padding-right: 5px;
  white-space: nowrap;
  animation: blinkCursor 0.7s infinite;
  display: inline-flex !important;
}

@keyframes blinkCursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: transparent;
  }
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin: 2.5rem;
  justify-content: flex-end;
}
.social-icons a {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 2rem;
  transition: 0.3s;
}
.social-icons a:hover {
  background: var(--main-color);
  color: white;
  box-shadow: 0 0 20px var(--main-color);
}
.btn-group {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 1.5rem;
  transition: 0.3s;
}
.btn:hover {
  background: var(--main-color);
  color: white;
  box-shadow: 0 0 20px var(--main-color);
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  min-height: 100vh;
  padding: 0 10%;
  background-color: #111;
}
.img-box {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-box:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}
.about-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-content a {
  align-self: flex-start;
}
.about-content h2 {
  font-size: 6rem;
}
.about-content p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.about-content .read-more {
  margin-top: 2.5rem;
  display: inline-block;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}
.reveal-left {
  opacity: 0;
  transform: translateX(-50px);
}

.reveal-left.active {
  animation: revealLeftAnim 0.8s ease forwards;
}

@keyframes revealLeftAnim {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.skills {
  background-color: var(--bg-color);
  color: white;
  padding: 4rem 0;
  text-align: center;
}
.skills h2 {
  font-size: 4rem;
  color: white;
  margin-bottom: 3rem;
}
.skills-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}
.skills-box {
  background-color: var(--main-color);
  width: 100%;
  max-width: 340px;
  padding: 3rem 2rem;
  border-radius: 2rem;
  border: 4px solid transparent;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-box:hover {
  background: var(--second-bg-color);
  border-color: var(--main-color);
  transform: scale(1.03);
}
.skills-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.skills-info i {
  font-size: 6rem;
  color: black;
}
.skills-info h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.skills-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}
.skills-info i {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

.projects {
  background-color: var(--second-bg-color);
}
.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease;
}
.project-card:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  transform: scale(1.02);
}
.project-card img {
  max-width: 200px;
  border-radius: 2rem;
  object-fit: cover;
}
.project-card h3 {
  font-size: 3rem;
}
.project-card p {
  font-size: 1.6rem;
}

.contact {
  background-color: var(--bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem o;
  text-align: center;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-top: 15px;
  list-style: none;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}
.footer ul li {
  margin: 0;
}
.footer ul li a {
  color: white;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

@media (max-width: 1285px) {
  #menu-icon {
    display: block;
    font-size: 35px;
    cursor: pointer;
    z-index: 3000;
    transition: 0.3s ease;
  }
  #close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--main-color);
  }
  #menu-icon.bx-menu::before {
    content: '\eb5f';
  }

  #menu-icon.active.bx-menu::before {
    content: '\ee0a';
  }
  .navbar {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 220px;
    height: auto;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 12px;
    padding: 2.8rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.3s ease;
    z-index: 2500;
  }
  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 250px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: var(--main-color);
    cursor: pointer;
  }
  .navbar.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    right: 0;
  }
  .navbar a {
    font-size: 1.2rem;
    white-space: nowrap;
  }
  .navbar.active #close-icon {
    display: block;
  }
  #close-icon {
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 2rem;
    color: #ff6a00;
    cursor: pointer;
  }
  .gradient-btn {
    display: none;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 56vw;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .about .btn {
    margin: 2rem auto;
  }
  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }
  .aboutimg {
    width: 52vw;
  }
  .contact form {
    flex-direction: column;
  }
}
